@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-direction: $direction;
    
    @if $justify {
        justify-content: $justify;
    } @else {
        justify-content: flex-start;
    }

    @if $align {
        align-items: $align;
    } @else {
        align-items: flex-start;
    }
}