@import '../../scss/_style.scss';

.login {
    @include box(100%);

    @include flex(center, center, column);

    background-color: var(--color-powder-blue);
}

.title {
    color: #313131;
    font-size: 3.4rem;
}

.description {
    margin: 0.5rem 0;
    color: #6f6f6f;
    font-size: 1.6rem;
}

.start {
    margin: 1rem 0;
    color: #5b9398;
    font-size: 1.8rem;
}

.input {
    width: 20%;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    box-shadow: 0 0 2px 0px;

    border: 1px solid var(--color-cerulean-crayola);
    border-radius: 5px;

    font-size: 1.6rem;

    &:focus {
        outline: none;
    }
}

.summit {
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    border: none;

    background-color: transparent;
    color: var(--color-blue-green);

    font-size: 1.8rem;
    font-weight: 500;

    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.remember {
    @include flex(inherit, center);

    font-size: 1.6rem;

    &_text {
        margin: 0 0.5rem;
        color: #656565;
    }
}

.signup {
    margin: 1.5rem 0;

    color: var(--color-navy-blue);

    font-size: 2rem;
    text-decoration: none;
}

.error {
    margin: $range-two 0;
    padding: $range-one $range-two;
    border-radius: 4px;

    color: var(--color-powder-blue);
    background-color: var(--color-navy-blue);

    font-size: var(--font-size-large);
    font-weight: bold;
}